<html>
	<head>
		<title></title>
		<style>
		body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
		margin:0;
		padding:0;
		}
		
		body {
		background:url("../public/images/bg_full.png") repeat scroll left top #EEEEEE;
		color:#000000;
		font-family:Helvetica,Arial,sans-serif;
		}
		#container {position:relative;}
		#top {
			background:url("../public/images/menu.png") repeat scroll left top transparent;
			display:block;
			height:63px;
			margin-left:150px;
			margin-right:50px;
			margin-top:40px;
			position:relative;
			width:880px;				
		}
		#nav {
		background:url("../img/bg_nav_tile.png") repeat-x scroll 0 59px transparent;
		display:block;
		position:relative;
		width:880px;
		}
		.hide  {
		outline:medium none;
		text-indent:-9999em;
		}
		h1 {
		margin:-26px;
		position:absolute;
		}
		h1 a {
		background:url("../public/images/logo.png") no-repeat scroll 0 0 transparent;
		display:block;
		float:left;
		height:132px;
		width:297px;
		}
		</style>
	</head>
	<body >
		<div id="container">
			<div id="top">
				<h1><a class="hide" title="EventosRoR" href="/">Eventos Ruby on Rails</a></h1>
			</div>
			<div style="position:absolute; padding-top:30px;">
				<h1>Listing events</h1>
				
				<table>
				  <tr>
				    <th>Name</th>
				    <th>Localization</th>
				    <th>Url</th>
				    <th>Date</th>
				    <th>Description</th>
				    <th>Available</th>
				  </tr>

				<% @events.each do |event| %>
				  <tr>
				    <td><%=h event.name %></td>
				    <td><%=h event.localization %></td>
				    <td><%=h event.url %></td>
				    <td><%=h event.date %></td>
				    <td><%=h event.description %></td>
				    <td><%=h event.available %></td>
				    <td><%= link_to 'Show', event %></td>
				    <td><%= link_to 'Edit', edit_event_path(event) %></td>
				    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
				  </tr>
				<% end %>
				</table>

				<br />

				<%= link_to 'New event', new_event_path %>
			</div>
		</div>
	</body>
</html>