<% @events.each do |event|%>
<div id="each" style="align: center; font-size: 26px; border: 1px solid gray; padding-left: 80px;">
	<div><%=h event.date%></div>
	<div><%=h event.name%></div>
	<div><%=h event.description%></div>
	<div><%= link_to 'details', event.url %></div>
</div>
<% end %>
<div>

<table>
<% @events.each do |event| %>
  <tr>
    <td><%=h event.name %></td>
    <td><%=h event.localization %></td>
    <td><%=h event.url %></td>
    <td><%=h event.date %></td>
    <td><%=h event.description %></td>
    <td><%=h event.available %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>