<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Localization</th>
    <th>Url</th>
    <th>Date</th>
    <th>Description</th>
    <th>Available</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.name %></td>
    <td><%=h event.localization %></td>
    <td><%=h event.url %></td>
    <td><%=h event.date %></td>
    <td><%=h event.description %></td>
    <td><%=h event.available %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>